{% extends 'base.html' %}
{% block title %}
    Product: {{ product.product_name }}
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">
            <div class="card">
                <img class="card-img-left" src="{{ product.product_image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">{{ product.category.category_name }}</p>
                    <p class="card-text">{{ product.price }}</p>
                    <span class="added">added:{{ product.created_at |date:'Y/m/d h:m' }}</span>
                </div>

            </div>

        </div>
    </div>
{% endblock %}